*, *:before, *:after {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0;
  color: #444; }

html, body {
  height: 100%;
  font-size: 14px; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?95280209');
  src: url('../fonts/fontello/fontello.eot?95280209#iefix') format('embedded-opentype'), url('../fonts/fontello/fontello.woff?95280209') format('woff'), url('../fonts/fontello/fontello.ttf?95280209') format('truetype'), url('../fonts/fontello/fontello.svg?95280209#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat_regular';
  src: url('../fonts/montserrat/Montserrat-Regular-webfont.eot');
  src: url('../fonts/montserrat/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Regular-webfont.woff') format('woff'), url('../fonts/montserrat/Montserrat-Regular-webfont.ttf') format('truetype'), url('../fonts/montserrat/Montserrat-Regular-webfont.svg#mrs_sheppardsregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat_bold';
  src: url('../fonts/montserrat/Montserrat-Bold-webfont.eot');
  src: url('../fonts/montserrat/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Bold-webfont.woff') format('woff'), url('../fonts/montserrat/Montserrat-Bold-webfont.ttf') format('truetype'), url('../fonts/montserrat/Montserrat-Bold-webfont.svg#mrs_sheppardsregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@media only screen { }

@media only screen and (min-width:40.063em) { }

@media only screen and (min-width:64.063em) { }

button, [class^="btn-"], [class*=" btn-"] {
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  vertical-align: top;
  transition: background-color 300ms ease-out; }

[role="checkbox"] input {
  top: 0;
  left: 5px;
  padding: 0;
  opacity: 0; }
  [role="checkbox"] input + label {
    cursor: pointer; }
    [role="checkbox"] input + label:before {
      content: " ";
      left: 0;
      transition: background-color 0.15s ease-out; }

[role="dropdown-list"] .in-active-state li {
  display: block; }

input[type="text"], input[type="password"], input[type="email"], textarea {
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  text-shadow: none;
  text-decoration: none;
  vertical-align: top;
  width: 100%;
  line-height: normal;
  transition: all ease-in-out; }

[role="switch"] input {
  top: 0;
  left: 5px;
  padding: 0;
  opacity: 0; }
  [role="switch"] input + label {
    cursor: pointer; }
    [role="switch"] input + label:before, [role="switch"] input + label:after {
      content: " "; }
    [role="switch"] input + label:before {
      left: 0; }
    [role="switch"] input + label:after {
      content: " ";
      transition: all 0.15s ease-out; }

h1 {
  margin: 0 0 0.7142857143rem; }

h2 {
  margin: 0 0 0.5rem; }

h3 {
  margin: 0 0 0.4285714286rem; }

h4 {
  margin: 0 0 0.2857142857rem; }

h5, h6 {
  margin: 0 0 0.1428571429rem; }

a {
  text-decoration: none;
  color: #007aff;
  transition: all 200ms ease-out; }
  a:hover {
    color: #0063cc; }

p {
  line-height: 1.7142857143rem; }

button, [class^="btn-"], [class*=" btn-"], [role="checkbox"] input + label, [role="checkbox"] input + label:before, [role="switch"] input + label, [role="switch"] input + label:before, [role="switch"] input + label:after {
  display: inline-block; }

h5, h6 {
  font-size: 0.7857142857rem; }

h4 {
  font-size: 1rem; }

h3 {
  font-size: 1.2857142857rem; }

h2 {
  font-size: 1.7142857143rem; }

h1 {
  font-size: 2.2857142857rem; }

a, p {
  font-family: "montserrat_regular"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "montserrat_bold"; }

[role="checkbox"] input, [role="checkbox"] input + label:before, [role="switch"] input, [role="switch"] input + label:before, [role="switch"] input + label:after {
  position: absolute; }

[role="checkbox"] input + label, [role="dropdown-list"], [role="switch"] input + label, [role="dropdown-list"] .select.in-active-state {
  position: relative; }

[role="checkbox"] input + label:before, [role="switch"] input + label:before, [role="switch"] input + label:after {
  top: 50%;
  transform: translateY(-50%); }

button, [class^="btn-"], [class*=" btn-"] {
  text-align: center; }

[role="dropdown-list"] .select {
  list-style-type: none;
  width: 100%;
  padding: 0; }

[role="dropdown-list"] .select.in-active-state {
  z-index: 9999; }

[role="dropdown-list"] li {
  display: none;
  padding-right: 30px;
  cursor: pointer;
  transition: background 200ms ease-out; }

[role="dropdown-list"] li:first-child {
  position: relative;
  display: block; }

[role="dropdown-list"] li:first-child:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: " "; }

@media only screen { }

@media only screen and (min-width:40.063em) { }

@media only screen and (min-width:64.063em) { }
