*, *:before, *:after {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0;
  color: #444; }

html, body {
  height: 100%;
  font-size: 14px; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?95280209');
  src: url('../fonts/fontello/fontello.eot?95280209#iefix') format('embedded-opentype'), url('../fonts/fontello/fontello.woff?95280209') format('woff'), url('../fonts/fontello/fontello.ttf?95280209') format('truetype'), url('../fonts/fontello/fontello.svg?95280209#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat_regular';
  src: url('../fonts/montserrat/Montserrat-Regular-webfont.eot');
  src: url('../fonts/montserrat/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Regular-webfont.woff') format('woff'), url('../fonts/montserrat/Montserrat-Regular-webfont.ttf') format('truetype'), url('../fonts/montserrat/Montserrat-Regular-webfont.svg#mrs_sheppardsregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat_bold';
  src: url('../fonts/montserrat/Montserrat-Bold-webfont.eot');
  src: url('../fonts/montserrat/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Bold-webfont.woff') format('woff'), url('../fonts/montserrat/Montserrat-Bold-webfont.ttf') format('truetype'), url('../fonts/montserrat/Montserrat-Bold-webfont.svg#mrs_sheppardsregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@media only screen { }

@media only screen and (min-width:40.063em) { }

@media only screen and (min-width:64.063em) {
  .drpdwn-sample2, .drpdwn-sample3, .drpdwn-sample4 {
    width: 8.3333333333%;
    float: left; }
  .drpdwn-sample1 {
    width: 25%;
    float: left; } }

button, [class^="btn-"], [class*=" btn-"] {
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  vertical-align: top;
  transition: background-color 300ms ease-out; }

[role="checkbox"] input {
  top: 0;
  left: 5px;
  padding: 0;
  opacity: 0; }
  [role="checkbox"] input + label {
    cursor: pointer; }
    [role="checkbox"] input + label:before {
      content: " ";
      left: 0;
      transition: background-color 0.15s ease-out; }

[role="dropdown-list"] .in-active-state li {
  display: block; }

input[type="text"], input[type="password"], input[type="email"], textarea {
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  text-shadow: none;
  text-decoration: none;
  vertical-align: top;
  width: 100%;
  line-height: normal;
  transition: all ease-in-out; }

[role="switch"] input {
  top: 0;
  left: 5px;
  padding: 0;
  opacity: 0; }
  [role="switch"] input + label {
    cursor: pointer; }
    [role="switch"] input + label:before, [role="switch"] input + label:after {
      content: " "; }
    [role="switch"] input + label:before {
      left: 0; }
    [role="switch"] input + label:after {
      content: " ";
      transition: all 0.15s ease-out; }

h1 {
  margin: 0 0 0.7142857143rem; }

h2 {
  margin: 0 0 0.5rem; }

h3 {
  margin: 0 0 0.4285714286rem; }

h4 {
  margin: 0 0 0.2857142857rem; }

h5, h6 {
  margin: 0 0 0.1428571429rem; }

a {
  text-decoration: none;
  color: #007aff;
  transition: all 200ms ease-out; }
  a:hover {
    color: #0063cc; }

p {
  line-height: 1.7142857143rem; }

button, [class^="btn-"], [class*=" btn-"], [role="checkbox"] input + label, [role="checkbox"] input + label:before, [role="switch"] input + label, [role="switch"] input + label:before, [role="switch"] input + label:after {
  display: inline-block; }

.btn-sample1, .sample1 input {
  padding: 0.5714285714rem 0.8571428571rem; }

.drpdwn-sample1 li, .drpdwn-sample2 li, .sample2 input, .chk-pof input + label {
  padding: 0.6428571429rem 0.9285714286rem; }

.drpdwn-sample3 li, .sample3 input, .switch-pof input + label {
  padding: 0.7142857143rem 1rem; }

.sample4 input {
  padding: 0.8571428571rem 1.1428571429rem; }

.sample5 input {
  padding: 1rem 1.4285714286rem; }

.btn-sample1, .sample1 input {
  font-size: 0.7142857143rem; }

.drpdwn-sample1 li, .drpdwn-sample2 li, .sample2 input, .chk-pof input + label {
  font-size: 1rem; }

.drpdwn-sample3 li, .sample3 input, .switch-pof input + label {
  font-size: 1.1428571429rem; }

.sample4 input {
  font-size: 1.2857142857rem; }

.sample5 input {
  font-size: 1.4285714286rem; }

h5, h6 {
  font-size: 0.7857142857rem; }

h4 {
  font-size: 1rem; }

h3 {
  font-size: 1.2857142857rem; }

h2 {
  font-size: 1.7142857143rem; }

h1 {
  font-size: 2.2857142857rem; }

a, p {
  font-family: "montserrat_regular"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "montserrat_bold"; }

[role="checkbox"] input, [role="checkbox"] input + label:before, [role="switch"] input, [role="switch"] input + label:before, [role="switch"] input + label:after {
  position: absolute; }

[role="checkbox"] input + label, [role="dropdown-list"], [role="switch"] input + label, [role="dropdown-list"] .select.in-active-state {
  position: relative; }

[role="checkbox"] input + label:before, [role="switch"] input + label:before, [role="switch"] input + label:after {
  top: 50%;
  transform: translateY(-50%); }

button, [class^="btn-"], [class*=" btn-"] {
  text-align: center; }

.btn-sample1 {
  background: #ea0808;
  color: #fff;
  border: 1px solid #b90606; }

.btn-sample1:hover {
  background: #b90606; }

.chk-pof input + label {
  padding-left: 2.1904761905rem; }
  .chk-pof input + label:before {
    width: 1.6428571429rem;
    height: 1.6428571429rem; }

.chk-pof input + label:before {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 3.5714285714rem; }

.chk-pof input:checked + label:before {
  background: #007aff url(../images/check-icon.png) no-repeat center center;
  background-size: 70%;
  border: none;
  border-radius: 3.5714285714rem; }

[role="dropdown-list"] .select {
  list-style-type: none;
  width: 100%;
  padding: 0; }

[role="dropdown-list"] .select.in-active-state {
  z-index: 9999; }

[role="dropdown-list"] li {
  display: none;
  padding-right: 30px;
  cursor: pointer;
  transition: background 200ms ease-out; }

[role="dropdown-list"] li:first-child {
  position: relative;
  display: block; }

[role="dropdown-list"] li:first-child:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: " "; }

.drpdwn-sample1 .select {
  border: 1px solid #dedede; }

.drpdwn-sample1 .select.in-active-state {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

.drpdwn-sample1 li {
  background: #f8f8f8;
  color: #444; }

.drpdwn-sample1 .in-active-state li {
  background: #fff;
  color: #222; }

.drpdwn-sample1 li:hover {
  background: #eee;
  color: #000; }

.drpdwn-sample1 li:first-child:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #888 transparent transparent transparent; }

.drpdwn-sample1 li:first-child:after {
  border-width: 5px 4px 0 4px;
  right: 8px; }

.sample1 input {
  border: 1px solid #dedede;
  background: #fefefe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333; }

.sample1 input:focus {
  background: #fff;
  box-shadow: none; }

.switch-pof input + label {
  padding-left: 3.9285714286rem; }
  .switch-pof input + label:before {
    width: 3.1428571429rem;
    height: 1.7857142857rem; }
  .switch-pof input + label:after {
    width: 1.3571428571rem;
    height: 1.3571428571rem;
    left: 3px; }

.switch-pof input:checked + label:after {
  transform: translate(1.35714rem, -50%); }

.switch-pof input + label:before {
  background: #aaa;
  border-radius: 3.5714285714rem; }

.switch-pof input:checked + label:before {
  background: #007aff; }

.switch-pof input + label:after {
  background: #fff;
  border-radius: 3.5714285714rem; }

@media only screen { }

@media only screen and (min-width:40.063em) {
  .btn-sample1 {
    background: #e2b003;
    color: #fff;
    border: 1px solid #b08702; }
  .btn-sample1:hover {
    background: #b08702; } }

@media only screen and (min-width:64.063em) {
  .switch-pof input + label {
    padding: 0.5714285714rem 0.8571428571rem; }
  .drpdwn-sample1 li {
    padding: 0.8571428571rem 1.1428571429rem; }
  .btn-sample1 {
    padding: 1rem 1.4285714286rem; }
  .switch-pof input + label {
    font-size: 0.7142857143rem; }
  .drpdwn-sample1 li {
    font-size: 1.2857142857rem; }
  .btn-sample1 {
    font-size: 1.4285714286rem; }
  .btn-sample1 {
    background: #007aff;
    color: #fff;
    border: 1px solid #0063cc; }
  .btn-sample1:hover {
    background: #0063cc; }
  .chk-pof input + label:before {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 0; }
  .chk-pof input:checked + label:before {
    background: #007aff url(../images/check-icon.png) no-repeat center center;
    background-size: 70%;
    border: none;
    border-radius: 0; }
  .switch-pof input + label {
    padding-left: 2.5rem; }
    .switch-pof input + label:before {
      width: 1.7142857143rem;
      height: 1.0714285714rem; }
    .switch-pof input + label:after {
      width: 0.6428571429rem;
      height: 0.6428571429rem;
      left: 3px; }
  .switch-pof input:checked + label:after {
    transform: translate(0.64286rem, -50%); } }

