@import "settings";
@import "skins/default";

@include placeholder(dropdown-list-option-base){
	display: none;
	padding-right: 30;
	cursor: pointer;
}

@include placeholder(dropdown-list-option-show){
	position: relative;
	display: block;	
}

@include placeholder(drop-icon-base){
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	content: " ";	
}


// helper for creating a dropdown list option
@mixin list-option($size, $skin: default){

	li{
		@extend %dropdown-list-option-base;
		@extend %list-option-#{$skin}-skin;
		@extend %e_padding-#{$size};
		@extend %e_text-#{$size};

		&:first-child{
			@extend %dropdown-list-option-show;

			&:after{
				@extend %drop-icon-base;
				@extend %drop-icon-#{$skin}-skin;
				@extend %drop-icon-#{$skin}-#{$size};
			}			
		}		

		&:hover{
			@extend %list-option-hover-#{$skin}-skin;
		}
	}

	.expanded li{
		@extend %list-option-active-#{$skin}-skin;
		display: block;

		&:first-child:after{
			display: none;
		}
	}
}
