@import "settings";
@import "skins/default";

@include placeholder(list-option){

	// placeholers for the list options
	%dropdown-list-option-base{
		display: none;
		padding: $list-option-padding;
		padding-right: $list-option-padding + 20;
		cursor: pointer;
	}

	%dropdown-list-option-show{
		position: relative;
		display: block;
	}
	
	%drop-icon-base{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: $list-option-padding;
		content: " ";
		width: 0;
		height: 0;			
	}
}



// helper for creating a dropdown list option
@mixin list-option($size, $skin: default){

	font-size: field-size($size) / 2;

	@extend %list-option;
	@extend %list-option-#{$skin}-skin;
	@extend %list-option-hover-#{$skin}-skin;
	@extend %list-option-drop-icon-#{$skin}-skin;

	li{
		@extend %dropdown-list-option-base;
		@extend %list-option-style-#{$skin};

		&:first-child{
			@extend %dropdown-list-option-show;

			&:after{
				@extend %drop-icon-base;
				@extend %list-option-drop-icon-style-#{$skin};
				border-width: (field-size($size) / 5) (field-size($size) / 6) 0 (field-size($size) / 6);
			}			
		}		

		&:hover{
			@extend %hover-style-#{$skin};
		}
	}

	.expanded li{
		display: block;

		&:first-child:after{
			display: none;
		}
	}
}
