$list-option-color: #444;
$list-option-color-active: #222;
$list-option-bg: #f8f8f8;
$list-option-bg-active: #fff;

$list-option-color-hover: #000;
$list-option-bg-hover: #eee;

$drop-icon-bg: #888;
$drop-con-xsmall-size: 3px;
$drop-con-small-size: 4px;
$drop-con-medium-size: 5px;
$drop-con-large-size: 6px;
$drop-con-xlarge-size: 7px;