@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?95280209');
  src: url('../fonts/fontello/fontello.eot?95280209#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff?95280209') format('woff'),
       url('../fonts/fontello/fontello.ttf?95280209') format('truetype'),
       url('../fonts/fontello/fontello.svg?95280209#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'montserrat_regular';
    src: url('../fonts/montserrat/Montserrat-Regular-webfont.eot');
    src: url('../fonts/montserrat/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/Montserrat-Regular-webfont.woff') format('woff'),
         url('../fonts/montserrat/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat/Montserrat-Regular-webfont.svg#mrs_sheppardsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_bold';
    src: url('../fonts/montserrat/Montserrat-Bold-webfont.eot');
    src: url('../fonts/montserrat/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/Montserrat-Bold-webfont.woff') format('woff'),
         url('../fonts/montserrat/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat/Montserrat-Bold-webfont.svg#mrs_sheppardsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}