// the basis of all rem values
$base-rem: 14px;

// variables that control form field padding
$field-padding-xsmall: rem-calc(8 12);
$field-padding-small: rem-calc(9 13);
$field-padding-medium: rem-calc(10 14);
$field-padding-large: rem-calc(12 16);
$field-padding-xlarge: rem-calc(14 20);

// variables that control text sizes
$field-text-xsmall: rem-calc(10);
$field-text-small: rem-calc(14);
$field-text-medium: rem-calc(16);
$field-text-large: rem-calc(18);
$field-text-xlarge: rem-calc(20);

// media breakpoints mapping
$small-range: ('0em', '40em') !default;
$medium-range: (40.063em, 64em) !default;
$large-range: (64.063em, 90em) !default;

$screen: "only screen";
$small-up: $screen;
$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";

$breakpoints: (
  "sml" $screen,
  "med" $medium-up,
  "lrg" $large-up
);