// the basis of all rem values
$base-rem: 14px !default;
$primary-color: #007aff !default;
$danger-color: #ea0808 !default;
$warning-color: #e2b003 !default;
$loud-color: #2eb000 !default;
$regular-font: "Arial";
$semi-bold-font: "montserrat_regular";
$bold-font: "montserrat_bold";

// variables that control form field padding
$field-padding-xsmall: rem-calc(8 12) !default;
$field-padding-small: rem-calc(9 13) !default;
$field-padding-medium: rem-calc(10 14) !default;
$field-padding-large: rem-calc(12 16) !default;
$field-padding-xlarge: rem-calc(14 20) !default;

// variables that control field text sizes
$field-text-xsmall: rem-calc(10) !default;
$field-text-small: rem-calc(14) !default;
$field-text-medium: rem-calc(16) !default;
$field-text-large: rem-calc(18) !default;
$field-text-xlarge: rem-calc(20) !default;

// variables that control type text size
$type-text-tiny: 11px !default;
$type-text-xsmall: 14px !default;
$type-text-small: 18px !default;
$type-text-medium: 26px !default;
$type-text-large: 36px !default;
$type-text-xlarge: 46px !default;
$type-text-big: 56px !default;
$type-text-huge: 70px !default;

// media breakpoints mapping
$small-range: ('0em', '40em') !default;
$medium-range: (40.063em, 64em) !default;
$large-range: (64.063em, 90em) !default;

$screen: "only screen";
$small: $screen;
$medium: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$large: "#{$screen} and (min-width:#{lower-bound($large-range)})";

$breakpoints: (
  "small" $small,
  "medium" $medium,
  "large" $large
);

$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;