@include utitlities_extendables_display(root);
@include utitlities_extendables_field(root);
@include utilities_extendables_font(root);
@include utilities_extendables_icon(root);
@include uitilities_extendables_list(root);
@include utilities_extendables_position(root);
@include utilities_extendables_text(root);
@include utilities_extendables_utils(root);

@include components_button_skin_cta(root);
@include components_button_skins_danger(root);
@include components_button_skins_default(root);
@include components_button_skins_ghost(root);
@include components_button_skins_loud(root);
@include components_button_skins_transparent(root);
@include components_button_skin_warning(root);

@include components_checkbox_checkbox(root);
@include components_checkbox_skins_default(root);
@include components_checkbox_skins_rounded(root);

@include components_dropdown-list_dropdown-list(root);
@include components_dropdown-list_skins_default(root);

@include components_inputbox_skins_default(root);

@include components_switch_switch(root);
@include components_switch_skins_default(root);
@include components_switch_skins_rounded(root);
@include components_label_base(root);
@include components_label_sizes(root);
@include components_label_skin_default(root);

@each $breakpoint in $breakpoints{
	$name: map-keys($breakpoint);
	$value: map-values($breakpoint);
	
	@media #{$value}{
		@include utitlities_extendables_display($name);
		@include utitlities_extendables_field($name);
		@include utilities_extendables_font($name);
		@include utilities_extendables_icon($name);
		@include uitilities_extendables_list($name);
		@include utilities_extendables_position($name);
		@include utilities_extendables_text($name);
		@include utilities_extendables_utils($name);

		@include components_button_skin_cta($name);
		@include components_button_skins_danger($name);
		@include components_button_skins_default($name);
		@include components_button_skins_ghost($name);
		@include components_button_skins_loud($name);
		@include components_button_skins_transparent($name);
		@include components_button_skin_warning($name);

		@include components_checkbox_checkbox($name);
		@include components_checkbox_skins_default($name);
		@include components_checkbox_skins_rounded($name);

		@include components_dropdown-list_dropdown-list($name);
		@include components_dropdown-list_skins_default($name);

		@include components_inputbox_skins_default($name);

		@include components_switch_switch($name);
		@include components_switch_skins_default($name);
		@include components_switch_skins_rounded($name);
		
		@include components_label_base($name);
		@include components_label_skin_default($name);
		@include components_label_sizes($name);		
	}
}