@mixin button($size: null, $skin: null){
	
	@if $skin {
		@extend %button-#{$skin}-skin-#{$current-breakpoint};

		&:hover{
			@extend %button-hover-#{$skin}-skin-#{$current-breakpoint};
		}		
	}

	@if $size {
		@extend %e_padding-#{$size}-#{$current-breakpoint};
		@extend %e_text-#{$size}-#{$current-breakpoint};		
	}
}

button, [class^="btn-"], [class*=" btn-"]{

	@extend %e_display-inline-block-#{$current-breakpoint};
	@extend %e_text-align-center-#{$current-breakpoint};
	cursor: pointer;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	vertical-align: top;
	transition: background-color 300ms ease-out;
}