// can be overwritten
$button-default-skin: default !default;
$button-default-size: small !default;

@mixin button($size: null, $skin: null, $breakpoint: small){
	@extend %button-#{$skin}-skin-{$breakpoint};
	@extend %e_padding-#{$size}-{$breakpoint};
	@extend %e_text-#{$size}-{$breakpoint};

	&:hover{
		@extend %button-hover-#{$skin}-skin-{$breakpoint};
	}
}

button, [class^="btn-"], [class*=" btn-"]{
	@include button($button-default-size, $button-default-skin);
	@extend %e_display-inline-block-{$breakpoint};
	@extend %e_text-align-center-{$breakpoint};
	cursor: pointer;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	vertical-align: top;
	transition: background-color 300ms ease-out;
}