// skin variables that can be overwritten
$default-input-border-color: #dedede !default;
$default-input-bg: #fefefe !default;
$default-input-color: #333;
$default-input-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
$default-input-bg-focus: #fff !default;

@mixin components_inputbox_skins_default($b){
	
	%inputbox-default-skin-#{$b}{
	  border: 1px solid $default-input-border-color;
	  background: $default-input-bg;
	  box-shadow: $default-input-box-shadow;
	  color: $default-input-color;
	}

	%inputbox-focus-default-skin-#{$b}{
		background: $default-input-bg-focus;
		box-shadow: none;
	}	
}