.b-lst-venues-no-thumb{
	@include grid-sml(12);
	@include grid-lrg(3, 106 0 0);
	@extend %e_position-absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	
	ul{
		overflow-y: scroll;
		height: 100%;
		background: #fff;
		border-top: 1px solid #dedede;
	}

	li{
		border-top: 1px solid #dedede;
	}

	a{
		@extend %e_display-block;
		padding: 10px;
		color: #444;

		&:hover{
			background: darken(#fff, 2%);
		}
	}

	h2{
		@extend %e_font-family-regular;
		@extend %e_font-size-medium;
		font-weight: normal;
		margin: 0;
	}

	span{
		@extend %e_font-family-semi-bold;
		@extend %e_text-transform-uppercase;
		@extend %e_font-size-xsmall;
	}
}