.b-main-options{

	@include grid-lrg(12, 50);
	@include grid-lrg(12, 20);

	h2{
		@extend %e_text-align-center;
		@extend %e_font-size-xlarge;

		a{
			color: #444;
			border-bottom: 1px solid #444;

			&:hover{
				color: darken(#444, 10%);
			}
		}
	}

	.options{
		@include grid-sml(10, $clearfix: true, $centered: true);
		@extend %e_list-style-type-none;
		margin-top: 40px;

		li{
			@include grid-lrg(4);
			@extend %e_text-align-center;
			padding: 0 10px;
			margin: 0 0 40px;
		}

		.thumb{
			@extend %e_position-relative;
			@extend %e_display-block;
			margin: 0 0 15px;
		}

		h3{
			@extend %e_position-absolute;
			@extend %e_center-vertical;
			@extend %e_text-color-white;
			@extend %e_font-size-large;
			width: 100%;
		}
	}
}