.b-main-banner{
	@include grid-sml(12);
	@extend %e_position-relative;


	.main-banner-intro{
		@include grid-sml(12, $clearfix: true);
		@extend %e_text-color-white;
		@extend %e_position-absolute;
		bottom: 0;
		z-index: 2;
	}

	h1{
		@extend %e_text-align-center;
		@extend %e_text-transform-uppercase;
	}

	h2{
		@extend %e_text-align-center;
		@extend %e_font-size-medium;
		margin-bottom: 50px;
	}

	.w-search-bar{
		@include grid-sml(12, 20 0);
		background: rgba(0,0,0,0.5);
	}
}