.b-no-results{
	
	.btn-view-in-grid, .btn-view-in-map{
		@include button($skin: transparent);
		margin: 2px 0 0 5px;
	}	
}
.b-no-results-content{

	@include grid-sml(12);
	@extend %e_text-align-center;
	height:100%;

	.empty-text{
		
		background:#dfdfdf;
		display: inline-block;
		padding:15px 20px;
		margin:10% 0 0;

		h1{
			@extend %e_font-size-large;
			color:#444;
			margin:0;
		}

		p{
			@extend %e_font-size-medium;
			color:#666;
			margin:0;
		}
	}
}