.b-results-grid-view{
	@include grid-sml(12);
	
	.btn-view-in-map{
		@include button($skin: transparent);
		margin: 2px 0 0 5px;
	}	
}
.b-lst-venues-with-thumb{
	@include grid-sml(12);

	ul{
		@extend %e_list-style-type-none;

		li{
			@include grid-sml(12);
			@include grid-med(4);
			@include grid-lrg(3);
		}

		a{
			@extend %e_display-block;
			@extend %e_position-relative;
			height: 230px;
		}
	}

	img{
		@include filter(unquote("opacity(80%)"));
		width: 100%;

		&:hover{
			@include filter(unquote("grayscale(0) contrast(150%)"));
		}		
	}

	.venue-info{
		@extend %e_position-absolute;
		@include grid-sml(12, 5 10);
		bottom: 0;
		z-index: 2;
		background:#000; /*fallback if rgba is not supported*/
		background: rgba(0, 0, 0, 0.7);

		h2{
			@extend %e_font-size-medium;
			color: #f2f2f2;
			margin: 0;
		}

		span{
			@extend %e_font-family-semi-bold;
			@extend %e_text-transform-uppercase;
			@extend %e_font-size-xsmall;			
		}
	}

	li{
		background:#000;
	}
}