@import "settings";
@import "skins/default";
@import "list-option/list-option";

@include placeholder(dropdown-list-expanded){
	z-index: 4;
}

@include placeholder(dropdown-list-base){
	list-style-type: none;
	overflow: hidden;
	width: 100%;
	position: absolute;
	z-index: 3;	
}


// helper for creating a dropdown list
@mixin dropdown-list($size: xsmall, $skin: default, $float: left){

	position: relative;

	.select{
		@extend %dropdown-list-base;
		@extend %dropdown-list-#{$skin}-skin;;		

		&.expanded{
			@extend %dropdown-list-expanded;
			@extend %dropdown-list-expanded-#{$skin}-skin;			
		}
	}

	@include list-option($size);
}