@import "skins/default";
@import "skins/rounded";

// can be overwritten
$switch-default-skin: rounded !default;
$switch-default-size: small !default;

$switch-xsmall-size: 15px !default;
$switch-small-size: 20px !default;
$switch-medium-size: 25px !default;
$switch-large-size: 30px !default;
$switch-xlarge-size: 35px !default;

$switch-toggle-gap: 3px !default;

@include placeholder(switch-xsmall-base){

	padding-left: rem-calc(($switch-xsmall-size * 2) + ($switch-xsmall-size / 3));

	&:before{
		width: rem-calc(($switch-xsmall-size * 2) - ($switch-toggle-gap * 2));
		height: rem-calc($switch-xsmall-size);
	}

	&:after{
		width: rem-calc($switch-xsmall-size - ($switch-toggle-gap * 2));
		height: rem-calc($switch-xsmall-size - ($switch-toggle-gap * 2));
		left: $switch-toggle-gap;
	}	
}

@include placeholder(switch-small-base){

	padding-left: rem-calc(($switch-small-size * 2) + ($switch-xsmall-size / 3));

	&:before{
		width: rem-calc(($switch-small-size * 2) - ($switch-toggle-gap * 2));
		height: rem-calc($switch-small-size);
	}

	&:after{
		width: rem-calc($switch-small-size - ($switch-toggle-gap * 2));
		height: rem-calc($switch-small-size - ($switch-toggle-gap * 2));
		left: $switch-toggle-gap;
	}	
}

@include placeholder(switch-medium-base){

	padding-left: rem-calc(($switch-medium-size * 2) + ($switch-xsmall-size / 3));

	&:before{
		width: rem-calc(($switch-medium-size * 2) - ($switch-toggle-gap * 2));
		height: rem-calc($switch-medium-size);
	}

	&:after{
		width: rem-calc($switch-medium-size - ($switch-toggle-gap * 2));
		height: rem-calc($switch-medium-size - ($switch-toggle-gap * 2));
		left: $switch-toggle-gap;
	}	
}

@include placeholder(switch-large-base){

	padding-left: rem-calc(($switch-large-size * 2) + ($switch-xsmall-size / 3));

	&:before{
		width: rem-calc(($switch-large-size * 2) - ($switch-toggle-gap * 2));
		height: rem-calc($switch-large-size);
	}

	&:after{
		width: rem-calc($switch-large-size - ($switch-toggle-gap * 2));
		height: rem-calc($switch-large-size - ($switch-toggle-gap * 2));
		left: $switch-toggle-gap;
	}	
}

@include placeholder(switch-xlarge-base){

	padding-left: rem-calc(($switch-xlarge-size * 2) + ($switch-xsmall-size / 3));

	&:before{
		width: rem-calc(($switch-xlarge-size * 2) - ($switch-toggle-gap * 2));
		height: rem-calc($switch-xlarge-size);
	}

	&:after{
		width: rem-calc($switch-xlarge-size - ($switch-toggle-gap * 2));
		height: rem-calc($switch-xlarge-size - ($switch-toggle-gap * 2));
		left: $switch-toggle-gap;
	}	
}

@include placeholder(switch-checked-xsmall-base){
	transform: translate(rem-calc($switch-xsmall-size - ($switch-toggle-gap * 2)), -50%);
}

@include placeholder(switch-checked-small-base){
	transform: translate(rem-calc($switch-small-size - ($switch-toggle-gap * 2)), -50%);
}

@include placeholder(switch-checked-medium-base){
	transform: translate(rem-calc($switch-medium-size - ($switch-toggle-gap * 2)), -50%);
}

@include placeholder(switch-checked-large-base){
	transform: translate(rem-calc($switch-large-size - ($switch-toggle-gap * 2)), -50%);
}

@include placeholder(switch-checked-xlarge-base){
	transform: translate(rem-calc($switch-xlarge-size - ($switch-toggle-gap * 2)), -50%);
}


@mixin switch($size: null, $skin: null){

	input + label{
		@extend %e_position-relative;
		@extend %e_padding-#{$size};
		@extend %e_text-#{$size};
		@extend %switch-#{$size}-base;
	
		&:before{
			@extend %switch-#{$skin}-skin;
		}

		&:after{
			@extend %switch-toggle-#{$skin}-skin;
		}
	}

	input:checked + label{

		&:before{
			@extend %switch-checked-#{$skin}-skin;
		}

		&:after{
			@extend %switch-checked-#{$size}-base;
		}
	}
	
}


[role="switch"]{
	@include switch($switch-default-size, $switch-default-skin);
}


[role="switch"] input{
	@extend %e_position-absolute;
	top:0;
	left: 5px;
	padding: 0;
	opacity: 0;

	& + label {
		@extend %e_display-inline-block;
		cursor: pointer;

		&:before, &:after{
			@extend %e_display-inline-block;
			@extend %e_position-absolute;
			@extend %e_center-vertical;
			content: " ";
		}

		&:before{
			left: 0;
		}

		&:after{
			content: " ";
			transition: all 0.15s ease-out;
		}
	}
}