$central:#007aff;
$convention:#d22828;
$digbeth:#780ba1;
$eastside:#f27e01;
$gunsmiths:#079a42;
$jewellery:#c1d205;
$southside:#e542b5;

.central{color:$central}
.convention{color:$convention}
.digbeth{color:$digbeth}
.eastside{color:$eastside}
.gunsmiths{color:$gunsmiths}
.jewellery{color:$jewellery}
.southside{color:$southside}