@import "skins/default";

// can be overwritten
$inputbox-default-skin: default !default;
$inputbox-default-size: small !default;

@mixin input($size: null, $skin: null){

	input{
    @extend %e_padding-#{$size};
    @extend %e_text-#{$size};
		@extend %inputbox-#{$skin}-skin;

		&:focus{
			@extend %inputbox-focus-#{$skin}-skin;
  	}
	}
}

input[type="text"], input[type="password"], input[type="email"], textarea{

  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  text-shadow: none;
  text-decoration: none;
  vertical-align: top;
  width: 100%;
  line-height: normal;
  transition: all ease-in-out;
}

[role="inputbox"]{
  @include input($inputbox-default-size, $inputbox-default-skin);

}