@mixin input($size: null, $skin: null){

  @if $size{
    input{
      @extend %e_padding-#{$size}-#{$current-breakpoint};
      @extend %e_text-#{$size}-#{$current-breakpoint};
    }
  }

  @if $skin{
    input{
      @extend %inputbox-#{$skin}-skin-#{$current-breakpoint};

      &:focus{
        @extend %inputbox-focus-#{$skin}-skin-#{$current-breakpoint};
      }
    }    
  }
}

input[type="text"], input[type="password"], input[type="email"], textarea{

  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  text-shadow: none;
  text-decoration: none;
  vertical-align: top;
  width: 100%;
  line-height: normal;
  transition: all ease-in-out;
}