@import "settings";

input, textarea{
  border: 1px solid $input-border-color;
  background: $input-bg;
  color: #333;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  text-shadow: none;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  line-height: normal;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out;

  &:focus{
  	background: $input-bg-focus;
  	box-shadow: none;
  }
}

@mixin input($size:small){
	input{
		@extend %e_padding-#{$size};
		@extend %e_text-#{$size};
	}
}