$default-switch-bg: #888;
$default-toggle-bg: #fff;
$default-switch-checked-bg: $primary-color;

@mixin components_switch_skins_default($b){

	%switch-default-skin-#{$b}{
		background: $default-switch-bg;
		border-radius: 0;
	}

	%switch-checked-default-skin-#{$b}{
		background: $default-switch-checked-bg;
	}

	%switch-toggle-default-skin-#{$b}{
		background: $default-toggle-bg;
		border-radius: 0;
	}	
}