$switch-bg: #aaa;
$toggle-bg: #fff;
$switch-checked-bg: $primary-color;
$switch-radius: rem-calc(50);

@include placeholder(switch-rounded-skin){
	background: $switch-bg;
	border-radius: $switch-radius;
}

@include placeholder(switch-checked-rounded-skin){
	background: $switch-checked-bg;
}

@include placeholder(switch-toggle-rounded-skin){
	background: $toggle-bg;
	border-radius: $switch-radius;
}