$default-switch-bg: #aaa;
$default-toggle-bg: #fff;
$default-switch-checked-bg: $primary-color;
$default-switch-radius: rem-calc(50);

@mixin components_switch_skins_rounded($b){

	%switch-rounded-skin-#{$b}{
		background: $default-switch-bg;
		border-radius: $default-switch-radius;
	}

	%switch-checked-rounded-skin-#{$b}{
		background: $default-switch-checked-bg;
	}

	%switch-toggle-rounded-skin-#{$b}{
		background: $default-toggle-bg;
		border-radius: $default-switch-radius;
	}	
}