$checkbox-bg: #fff;
$checkbox-border-color: #dedede;
$checkbox-border-width: 1px;
$checkbox-checked-bg: $primary-color;

@include placeholder(checkbox-default-skin){
	background-color: $checkbox-bg;
	border: $checkbox-border-width solid $checkbox-border-color;
}

@include placeholder(checkbox-checked-default-skin){
	background: $checkbox-checked-bg url(../images/check-icon.png) no-repeat center center;
	background-size: 70%;
	border: none;
}