$checkbox-bg: #fff;
$checkbox-border-color: #dedede;
$checkbox-border-width: 1px;
$checkbox-checked-bg: $primary-color;
$checkbox-radius: rem-calc(50);

@include placeholder(checkbox-rounded-skin){
	background-color: $checkbox-bg;
	border: $checkbox-border-width solid $checkbox-border-color;
	border-radius: $checkbox-radius;
}

@include placeholder(checkbox-checked-rounded-skin){
	background: $checkbox-checked-bg url(../images/check-icon.png) no-repeat center center;
	background-size: 70%;
	border: none;
	border-radius: $checkbox-radius;
}