$checkbox-bg: #fff;
$checkbox-border-color: #dedede;
$checkbox-border-width: 1px;
$checkbox-checked-bg: $primary-color;
$checkbox-radius: rem-calc(50);

@mixin components_checkbox_skins_rounded($b){

	%checkbox-rounded-skin-{$b}{
		background-color: $checkbox-bg;
		border: $checkbox-border-width solid $checkbox-border-color;
		border-radius: $checkbox-radius;
	}

	%checkbox-checked-rounded-skin-{$b}{
		background: $checkbox-checked-bg url(../images/check-icon.png) no-repeat center center;
		background-size: 70%;
		border: none;
		border-radius: $checkbox-radius;
	}	
}