@import "../settings";

@include placeholder(list-option-default-skin){

	background: $list-option-bg;
	color: $list-option-color;
}

@include placeholder(list-option-active-default-skin){

	background: $list-option-bg-active;
	color: $list-option-color-active;
}

@include placeholder(list-option-hover-default-skin){

	background: $list-option-bg-hover;
	color: $list-option-color-hover;
}

@include placeholder(drop-icon-default-skin){
	
	width: 0;
	height: 0;
	border-style: solid;
	border-color: $drop-icon-bg transparent transparent transparent;	
}

@include placeholder(drop-icon-default-xsmall){
	
	border-width: ($drop-con-xsmall-size + 1) $drop-con-xsmall-size 0 $drop-con-xsmall-size;
	right:$drop-con-xsmall-size*2;
}

@include placeholder(drop-icon-default-small){
	
	border-width: ($drop-con-small-size + 1) $drop-con-small-size 0 $drop-con-small-size;
	right:$drop-con-small-size *2;
}

@include placeholder(drop-icon-default-medium){
	
	border-width: ($drop-con-medium-size + 1) $drop-con-medium-size 0 $drop-con-medium-size;
	right:$drop-con-medium-size*2;
}

@include placeholder(drop-icon-default-large){
	
	border-width: ($drop-con-large-size + 1) $drop-con-large-size 0 $drop-con-large-size;
	right:$drop-con-large-size *2;
}

@include placeholder(drop-icon-default-xlarge){
	
	border-width: ($drop-con-xlarge-size + 1) $drop-con-xlarge-size 0 $drop-con-xlarge-size;
	right:$drop-con-xlarge-size*2;
}