@import "skins/default";
@import "skins/rounded";

// can be overwritten
$checkbox-default-skin: rounded !default;
$checkbox-default-size: small !default;

$checkbox-xsmall-size: 15px !default;
$checkbox-small-size: 23px !default;
$checkbox-medium-size: 28px !default;
$checkbox-large-size: 31px !default;
$checkbox-xlarge-size: 34px !default;

@mixin components_checkbox_checkbox($b){

	%checkbox-xsmall-base-{$b}{
		
		padding-left: rem-calc(($checkbox-xsmall-size) + ($checkbox-xsmall-size / 3));

		&:before{
			width: rem-calc($checkbox-xsmall-size);
			height: rem-calc($checkbox-xsmall-size);
		}	
	}

	%checkbox-small-base-{$b}{

		padding-left: rem-calc(($checkbox-small-size) + ($checkbox-small-size / 3));

		&:before{
			width: rem-calc($checkbox-small-size);
			height: rem-calc($checkbox-small-size);
		}
	}

	%checkbox-medium-base-{$b}{

		padding-left: rem-calc(($checkbox-medium-size) + ($checkbox-medium-size / 3));

		&:before{
			width: rem-calc($checkbox-medium-size);
			height: rem-calc($checkbox-medium-size);
		}	
	}

	%checkbox-large-base-{$b}{

		padding-left: rem-calc(($checkbox-large-size) + ($checkbox-large-size / 3));

		&:before{
			width: rem-calc($checkbox-large-size);
			height: rem-calc($checkbox-large-size);
		}	
	}

	%checkbox-xlarge-base-{$b}{

		padding-left: rem-calc(($checkbox-xlarge-size) + ($checkbox-xlarge-size / 3));

		&:before{
			width: rem-calc($checkbox-xlarge-size);
			height: rem-calc($checkbox-xlarge-size);
		}	
	}	
}



@mixin checkbox($size: null, $skin: null, $breakpoint: small){

	input + label{
		@extend %e_position-relative-{$breakpoint};
		@extend %e_padding-#{$size}-{$breakpoint};
		@extend %e_text-#{$size}-{$breakpoint};
		@extend %checkbox-#{$size}-base-{$breakpoint};
	
		&:before{
			@extend %checkbox-#{$skin}-skin;
		}
	}

	input:checked + label{

		&:before{
			@extend %checkbox-checked-#{$skin}-skin-{$breakpoint};
		}
	}
	
}


[role="checkbox"]{
	@include checkbox($checkbox-default-size, $checkbox-default-skin);
}


[role="checkbox"] input{
	@extend %e_position-absolute;
	top:0;
	left: 5px;
	padding: 0;
	opacity: 0;

	& + label {
		@extend %e_display-inline-block;
		cursor: pointer;

		&:before{
			@extend %e_display-inline-block;
			@extend %e_position-absolute;
			@extend %e_center-vertical;
			content: " ";
			left: 0;
			transition: background-color 0.15s ease-out;
		}
	}
}