$default-button-bg: #444 !default;
$default-button-color: #fff !default;
$default-button-border: 1px solid darken($default-button-bg, 10%) !default;

@mixin components_button_skins_default($b){

	%button-default-skin-#{$b}{
		background: $default-button-bg;
		color: $default-button-color;
		border: $default-button-border;
	}

	%button-hover-default-skin-#{$b}{
		background: darken($default-button-bg, 10%);
	}	
}