$button-bg: #444 !default;
$button-color: #fff !default;
$button-border: 1px solid darken($button-bg, 10%);

@mixin components_button_skins_default($b){

	%button-default-skin-{$b}{
		background: $button-bg;
		color: $button-color;
		border: $button-border;
	}

	%button-hover-default-skin-{$b}{
		background: darken($button-bg, 10%);
	}	
}