$button-bg: rgba(0,0,0,0);
$button-color: #fff;
$button-border: 1px solid #fff;

@include placeholder(button-ghost-skin){
	background: $button-bg;
	color: $button-color;
	border: $button-border;
}

@include placeholder(button-hover-ghost-skin){
	background: rgba(0,0,0,0.1);
}