$button-bg: rgba(0,0,0,0);
$button-color: #fff;
$button-border: 1px solid #fff;

@mixin components_button_skins_ghost($b){

	%button-ghost-skin-{$b}{
		background: $button-bg;
		color: $button-color;
		border: $button-border;
	}

	%button-hover-ghost-skin-{$b}{
		background: rgba(0,0,0,0.1);
	}	
}