$button-bg: $loud-color;
$button-color: #fff;
$button-border: 1px solid darken($button-bg, 10%);

@mixin components_button_skins_loud($b){

	%button-loud-skin-{$b}{
		background: $button-bg;
		color: $button-color;
		border: $button-border;
	}

	%button-hover-loud-skin-{$b}{
		background: darken($button-bg, 10%);
	}	
}