$loud-button-bg: $loud-color !default;
$loud-button-color: #fff !default;
$loud-button-border: 1px solid darken($loud-button-bg, 10%) !default;

@mixin components_button_skins_loud($b){

	%button-loud-skin-#{$b}{
		background: $loud-button-bg;
		color: $loud-button-color;
		border: $loud-button-border;
	}

	%button-hover-loud-skin-#{$b}{
		background: darken($loud-button-bg, 10%);
	}	
}