$button-bg: rgba(0,0,0,0);
$button-color: #fff;
$button-border: none;

@mixin components_button_skins_transparent($b){

	%button-transparent-skin-{$b}{
		background: $button-bg;
		color: $button-color;
		border: $button-border;
	}

	%button-hover-transparent-skin-{$b}{
		background: rgba(0,0,0,0.5);
	}	
}