$transparent-button-bg: rgba(0,0,0,0) !default;
$transparent-button-color: #fff !default;
$transparent-button-border: none !default;

@mixin components_button_skins_transparent($b){

	%button-transparent-skin-#{$b}{
		background: $transparent-button-bg;
		color: $transparent-button-color;
		border: $transparent-button-border;
	}

	%button-hover-transparent-skin-#{$b}{
		background: rgba(0,0,0,0.5);
	}	
}