$button-bg: $warning-color;
$button-color: #fff;
$button-border: 1px solid darken($button-bg, 10%);

@mixin components_button_skin_warning($b){

	%button-warning-skin-{$b}{
		background: $button-bg;
		color: $button-color;
		border: $button-border;
	}

	%button-hover-warning-skin-{$b}{
		background: darken($button-bg, 10%);
	}	
}