@mixin utitlities_extendables_display($b){

	%e_display-block-#{$b}{
		display: block;
	}

	%e_display-none-#{$b}{
		display: none;
	}

	%e_display-inline-block-#{$b}{
		display: inline-block;
	}	
}