@mixin utitlities_extendables_field($b){

	%e_padding-xsmall-#{$b}{
		padding: $field-padding-xsmall;
	}

	%e_padding-small-#{$b}{
		padding: $field-padding-small;
	}

	%e_padding-medium-#{$b}{
		padding: $field-padding-medium;
	}

	%e_padding-large-#{$b}{
		padding: $field-padding-large;
	}

	%e_padding-xlarge-#{$b}{
		padding: $field-padding-xlarge;
	}


	%e_text-xsmall-#{$b}{
		font-size: $field-text-xsmall;
	}

	%e_text-small-#{$b}{
		font-size: $field-text-small;
	}

	%e_text-medium-#{$b}{
		font-size: $field-text-medium;
	}

	%e_text-large-#{$b}{
		font-size: $field-text-large;
	}

	%e_text-xlarge-#{$b}{
		font-size: $field-text-xlarge;
	}	
}