@mixin utilities_extendables_font($b){

	%e_font-size-xsmall-#{$b}{
		font-size: rem-calc($type-text-xsmall);
	}

	%e_font-size-small-#{$b}{
		font-size: rem-calc($type-text-small);
	}

	%e_font-size-medium-#{$b}{
		font-size: rem-calc($type-text-medium);
	}

	%e_font-size-large-#{$b}{
		font-size: rem-calc($type-text-large);
	}

	%e_font-size-xlarge-#{$b}{
		font-size: rem-calc($type-text-xlarge);
	}

	%e_font-size-huge-#{$b}{
		font-size: rem-calc($type-text-huge);
	}

	%e_font-family-regular-#{$b}{
		font-family: $regular-font;
	}

	%e_font-family-semi-bold-#{$b}{
		font-family: $semi-bold-font;
	}

	%e_font-family-bold-#{$b}{
		font-family: $bold-font;
	}	
}