@include placeholder(e_font-size-xsmall){
	font-size: rem-calc($type-text-xsmall);
}

@include placeholder(e_font-size-small){
	font-size: rem-calc($type-text-small);
}

@include placeholder(e_font-size-medium){
	font-size: rem-calc($type-text-medium);
}

@include placeholder(e_font-size-large){
	font-size: rem-calc($type-text-large);
}

@include placeholder(e_font-size-xlarge){
	font-size: rem-calc($type-text-xlarge);
}

@include placeholder(e_font-size-huge){
	font-size: rem-calc($type-text-huge);
}

@include placeholder(e_font-family-regular){
	font-family: $regular-font;
}

@include placeholder(e_font-family-semi-bold){
	font-family: $semi-bold-font;
}

@include placeholder(e_font-family-bold){
	font-family: $bold-font;
}