@mixin utilities_extendables_icon($b){

  %e_icon-base-#{$b}{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
       
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  %e_icon-ok-#{$b}{
    content: '\e800'; 
  }
  %e_icon-github-#{$b}{
    content: '\e801'; 
  }
  %e_icon-flickr-#{$b}{
    content: '\e802'; 
  }
  %e_icon-vimeo-#{$b}{
    content: '\e803'; 
  }
  %e_icon-twitter-#{$b}{
    content: '\e804'; 
  }
  %e_icon-facebook-#{$b}{
    content: '\e805'; 
  }
  %e_icon-gplus-#{$b}{
    content: '\e806'; 
  }
  %e_icon-pinterest-#{$b}{
    content: '\e807'; 
  }
  %e_icon-tumblr-#{$b}{
    content: '\e808'; 
  }
  %e_icon-linkedin-#{$b}{
    content: '\e809'; 
  }
  %e_icon-marker-#{$b}{
    content: '\e80d'; 
  }
  %e_icon-map-#{$b}{
    content: '\e80c'; 
  }
  %e_icon-right-#{$b}{
    content: '\e80e'; 
  }
  %e_icon-search-#{$b}{
   content: '\e80f'; 
  }
  %e_icon-cancel-circled2-#{$b}{
   content: '\e810'; 
  }
  %e_icon-twitter-circled-#{$b}{
    content: '\e811';
  }
  %e_icon-facebook-circled-#{$b}{
    content: '\e812';
  }
  %e_icon-instagram-circled-#{$b}{
    content: '\e813';
  }
  %e_icon-gplus-circled-#{$b}{
    content: '\e814';
  }

  %e_icon-spin5-#{$b}{
   content: '\e80b'; 
   @extend %e_animated-#{$current-breakpoint};
  }

  %e_icon-dribbble-#{$b}{
  content: '\e80a'; 
  }

  %e_icon-tiny-#{$b}{
    font-size: rem-calc(19);
  }

  %e_icon-small-#{$b}{
    font-size: rem-calc(24);
  }

  %e_icon-medium-#{$b}{
    font-size: rem-calc(32);
  }

  %e_icon-large-#{$b}{
    font-size: rem-calc(56);
  }

  %e_icon-position-left-or-right-#{$b}{
    vertical-align: middle;
    margin: 0 4px;
  }

  %e_icon-position-top-or-bottom-#{$b}{
    vertical-align: top;
    display: block;
    margin: 4px auto;
  }

  %e_animated-#{$b}{
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
  }
}

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}